@model MVCSTOK.Models.EntityFramework.TBLKATEGORILER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>YeniKategori</h2>

<form class="form-group" method="post">
    <div>
        @Html.LabelFor(m=>m.KATEGORIADI)
        @Html.TextBoxFor(m=>m.KATEGORIADI, new { @class = "form-control" })
        @Html.ValidationMessageFor(m=>m.KATEGORIADI,"",new { @style="color:red"})
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-info" > EKLE</button>
    </div>
  
</form>